NET "adc0_iic_sda" LOC = D34;
NET "adc0_iic_scl" LOC = C34;
NET "adc0_ser_clk" LOC = F28;
NET "adc0_ser_dat" LOC = D32;
NET "adc0_ser_cs" LOC = E28;

NET "adc1_iic_sda" LOC = AC27;
NET "adc1_iic_scl" LOC = AB27;
NET "adc1_ser_clk" LOC = AE32;
NET "adc1_ser_dat" LOC = AD34;
NET "adc1_ser_cs" LOC = AD32;

NET "adc0_sync_p" LOC = B33;
NET "adc0_sync_n" LOC = C33;
NET "adc0_powerdown" LOC = C32;
NET "adc0_clk_p" LOC = H19;
NET "adc0_clk_n" LOC = H20;
NET "adc0_overrange_p" LOC = J20;
NET "adc0_overrange_n" LOC = J21;
NET "adc0_rst_p" LOC = B32;
NET "adc0_rst_n" LOC = A33;
NET "adc0_di_d_p<7>" LOC = H28;
NET "adc0_di_d_n<7>" LOC = G28;
NET "adc0_di_d_p<6>" LOC = G27;
NET "adc0_di_d_n<6>" LOC = H27;
NET "adc0_di_d_p<5>" LOC = H25;
NET "adc0_di_d_n<5>" LOC = H24;
NET "adc0_di_d_p<4>" LOC = E32;
NET "adc0_di_d_n<4>" LOC = E33;
NET "adc0_di_d_p<3>" LOC = F31;
NET "adc0_di_d_n<3>" LOC = E31;
NET "adc0_di_d_p<2>" LOC = G25;
NET "adc0_di_d_n<2>" LOC = G26;
NET "adc0_di_d_p<1>" LOC = E29;
NET "adc0_di_d_n<1>" LOC = F29;
NET "adc0_di_d_p<0>" LOC = F25;
NET "adc0_di_d_n<0>" LOC = F26;
NET "adc0_di_p<7>" LOC = K24;
NET "adc0_di_n<7>" LOC = L24;
NET "adc0_di_p<6>" LOC = H30;
NET "adc0_di_n<6>" LOC = G31;
NET "adc0_di_p<5>" LOC = G33;
NET "adc0_di_n<5>" LOC = F34;
NET "adc0_di_p<4>" LOC = G32;
NET "adc0_di_n<4>" LOC = H32;
NET "adc0_di_p<3>" LOC = H29;
NET "adc0_di_n<3>" LOC = J29;
NET "adc0_di_p<2>" LOC = J24;
NET "adc0_di_n<2>" LOC = J25;
NET "adc0_di_p<1>" LOC = G30;
NET "adc0_di_n<1>" LOC = F30;
NET "adc0_di_p<0>" LOC = F33;
NET "adc0_dq_n<0>" LOC = E34;
NET "adc0_dq_d_p<7>" LOC = K31;
NET "adc0_dq_d_n<7>" LOC = L31;
NET "adc0_dq_d_p<6>" LOC = L29;
NET "adc0_dq_d_n<6>" LOC = K29;
NET "adc0_dq_d_p<5>" LOC = K33;
NET "adc0_dq_d_n<5>" LOC = K32;
NET "adc0_dq_d_p<4>" LOC = M28;
NET "adc0_dq_d_n<4>" LOC = N28;
NET "adc0_dq_d_p<3>" LOC = L30;
NET "adc0_dq_d_n<3>" LOC = M30;
NET "adc0_dq_d_p<2>" LOC = N27;
NET "adc0_dq_d_n<2>" LOC = M27;
NET "adc0_dq_d_p<1>" LOC = L34;
NET "adc0_dq_d_n<1>" LOC = K34;
NET "adc0_dq_d_p<0>" LOC = M31;
NET "adc0_dq_d_n<0>" LOC = N30;
NET "adc0_dq_p<7>" LOC = J27;
NET "adc0_dq_n<7>" LOC = J26;
NET "adc0_dq_p<6>" LOC = J30;
NET "adc0_dq_n<6>" LOC = J31;
NET "adc0_dq_p<5>" LOC = K27;
NET "adc0_dq_n<5>" LOC = K26;
NET "adc0_dq_p<4>" LOC = K28;
NET "adc0_dq_n<4>" LOC = L28;
NET "adc0_dq_p<3>" LOC = H34;
NET "adc0_dq_n<3>" LOC = J34;
NET "adc0_dq_p<2>" LOC = L25;
NET "adc0_dq_n<2>" LOC = L26;
NET "adc0_dq_p<1>" LOC = J32;
NET "adc0_dq_n<1>" LOC = H33;
NET "adc0_dq_p<0>" LOC = M25;
NET "adc0_dq_n<0>" LOC = M26;
NET "adc1_sync_p" LOC = AD31;
NET "adc1_sync_n" LOC = AE31;
NET "adc1_powerdown" LOC = AC34;
NET "adc1_clk_p" LOC = K17;
NET "adc1_clk_n" LOC = L18;
NET "adc1_overrange_p" LOC = H17;
NET "adc1_overrange_n" LOC = H18;
NET "adc1_rst_p" LOC = AB30;
NET "adc1_rst_n" LOC = AC30;
NET "adc1_di_d_p<7>" LOC = AD26;
NET "adc1_di_d_n<7>" LOC = AD25;
NET "adc1_di_d_p<6>" LOC = AE28;
NET "adc1_di_d_n<6>" LOC = AF28;
NET "adc1_di_d_p<5>" LOC = AE29;
NET "adc1_di_d_n<5>" LOC = AD29;
NET "adc1_di_d_p<4>" LOC = AF31;
NET "adc1_di_d_n<4>" LOC = AG31;
NET "adc1_di_d_p<3>" LOC = AF34;
NET "adc1_di_d_n<3>" LOC = AE34;
NET "adc1_di_d_p<2>" LOC = AC25;
NET "adc1_di_d_n<2>" LOC = AC24;
NET "adc1_di_d_p<1>" LOC = AD30;
NET "adc1_di_d_n<1>" LOC = AC29;
NET "adc1_di_d_p<0>" LOC = AF33;
NET "adc1_di_d_n<0>" LOC = AE33;
NET "adc1_di_p<7>" LOC = AH34;
NET "adc1_di_n<7>" LOC = AJ34;
NET "adc1_di_p<6>" LOC = AF25;
NET "adc1_di_n<6>" LOC = AF26;
NET "adc1_di_p<5>" LOC = AF29;
NET "adc1_di_n<5>" LOC = AF30;
NET "adc1_di_p<4>" LOC = AG28;
NET "adc1_di_n<4>" LOC = AH28;
NET "adc1_di_p<3>" LOC = AE27;
NET "adc1_di_n<3>" LOC = AE26;
NET "adc1_di_p<2>" LOC = AD24;
NET "adc1_di_n<2>" LOC = AE24;
NET "adc1_di_p<1>" LOC = AG33;
NET "adc1_di_n<1>" LOC = AH33;
NET "adc1_di_p<0>" LOC = AG32;
NET "adc1_dq_n<0>" LOC = AH32;
NET "adc1_dq_d_p<7>" LOC = AK28;
NET "adc1_dq_d_n<7>" LOC = AK27;
NET "adc1_dq_d_p<6>" LOC = AL34;
NET "adc1_dq_d_n<6>" LOC = AL33;
NET "adc1_dq_d_p<5>" LOC = AM33;
NET "adc1_dq_d_n<5>" LOC = AM32;
NET "adc1_dq_d_p<4>" LOC = AK29;
NET "adc1_dq_d_n<4>" LOC = AJ29;
NET "adc1_dq_d_p<3>" LOC = AK26;
NET "adc1_dq_d_n<3>" LOC = AJ27;
NET "adc1_dq_d_p<2>" LOC = AJ25;
NET "adc1_dq_d_n<2>" LOC = AH25;
NET "adc1_dq_d_p<1>" LOC = AN32;
NET "adc1_dq_d_n<1>" LOC = AP32;
NET "adc1_dq_d_p<0>" LOC = AN34;
NET "adc1_dq_d_n<0>" LOC = AN33;
NET "adc1_dq_p<7>" LOC = AF24;
NET "adc1_dq_n<7>" LOC = AG25;
NET "adc1_dq_p<6>" LOC = AG27;
NET "adc1_dq_n<6>" LOC = AG26;
NET "adc1_dq_p<5>" LOC = AH29;
NET "adc1_dq_n<5>" LOC = AG30;
NET "adc1_dq_p<4>" LOC = AJ32;
NET "adc1_dq_n<4>" LOC = AK32;
NET "adc1_dq_p<3>" LOC = AJ30;
NET "adc1_dq_n<3>" LOC = AH30;
NET "adc1_dq_p<2>" LOC = AK34;
NET "adc1_dq_n<2>" LOC = AK33;
NET "adc1_dq_p<1>" LOC = AH27;
NET "adc1_dq_n<1>" LOC = AJ26;
NET "adc1_dq_p<0>" LOC = AJ31;
NET "adc1_dq_n<0>" LOC = AK31;
