################## Global Timing Constraints
#

Net sys_clk_n TNM_NET = sys_clk_n;
TIMESPEC TS_sys_clk_n = PERIOD sys_clk_n 100 MHz;

Net dly_clk_n TNM_NET = dly_clk_n;
TIMESPEC TS_dly_clk_n = PERIOD dly_clk_n 200 MHz;

Net epb_clk TNM_NET = epb_clk;
TIMESPEC TS_epb_clk = PERIOD epb_clk 88 MHz;

################### Pin constraints
#

#
# System signals
#

NET "sys_clk_n"  LOC = H13;
NET "sys_clk_p"  LOC = J14;

NET "aux0_clk_p" LOC = G15;
NET "aux0_clk_n" LOC = G16;

NET "aux1_clk_p" LOC = H14;
NET "aux1_clk_n" LOC = H15;

NET "dly_clk_n"  LOC = J17;
NET "dly_clk_p"  LOC = J16;

NET "leddies<0>"    IOSTANDARD = LVCMOS18 | LOC = AP26;
NET "leddies<1>"    IOSTANDARD = LVCMOS18 | LOC = AP25;
NET "leddies<2>"    IOSTANDARD = LVCMOS18 | LOC = AL25;
NET "leddies<3>"    IOSTANDARD = LVCMOS18 | LOC = AL24;

#
# PPC External Peripheral Bus [EPB]
#

NET "ppc_irq_n"    IOSTANDARD = LVCMOS33 | LOC = G23;

# transparent endian change

NET "epb_data<15>" IOSTANDARD = LVCMOS33 | LOC = AH13;
NET "epb_data<14>" IOSTANDARD = LVCMOS33 | LOC = AH14;
NET "epb_data<13>" IOSTANDARD = LVCMOS33 | LOC = AH19;
NET "epb_data<12>" IOSTANDARD = LVCMOS33 | LOC = AH20;
NET "epb_data<11>" IOSTANDARD = LVCMOS33 | LOC = AG13;
NET "epb_data<10>" IOSTANDARD = LVCMOS33 | LOC = AH12;
NET "epb_data<9>"  IOSTANDARD = LVCMOS33 | LOC = AH22;
NET "epb_data<8>"  IOSTANDARD = LVCMOS33 | LOC = AG22;
NET "epb_data<7>"  IOSTANDARD = LVCMOS33 | LOC = AD19;
NET "epb_data<6>"  IOSTANDARD = LVCMOS33 | LOC = AE19;
NET "epb_data<5>"  IOSTANDARD = LVCMOS33 | LOC = AE17;
NET "epb_data<4>"  IOSTANDARD = LVCMOS33 | LOC = AF16;
NET "epb_data<3>"  IOSTANDARD = LVCMOS33 | LOC = AD20;
NET "epb_data<2>"  IOSTANDARD = LVCMOS33 | LOC = AE21;
NET "epb_data<1>"  IOSTANDARD = LVCMOS33 | LOC = AE16;
NET "epb_data<0>"  IOSTANDARD = LVCMOS33 | LOC = AF15;

# transparent endian change
NET "epb_addr<0>"  IOSTANDARD = LVCMOS33 | LOC = AE23;
NET "epb_addr<1>"  IOSTANDARD = LVCMOS33 | LOC = AE22;
NET "epb_addr<2>"  IOSTANDARD = LVCMOS33 | LOC = AG18;
NET "epb_addr<3>"  IOSTANDARD = LVCMOS33 | LOC = AG12;
NET "epb_addr<4>"  IOSTANDARD = LVCMOS33 | LOC = AG15;
NET "epb_addr<5>"  IOSTANDARD = LVCMOS33 | LOC = AG23;
NET "epb_addr<6>"  IOSTANDARD = LVCMOS33 | LOC = AF19;
NET "epb_addr<7>"  IOSTANDARD = LVCMOS33 | LOC = AE12;
NET "epb_addr<8>"  IOSTANDARD = LVCMOS33 | LOC = AG16;
NET "epb_addr<9>"  IOSTANDARD = LVCMOS33 | LOC = AF13;
NET "epb_addr<10>" IOSTANDARD = LVCMOS33 | LOC = AG20;
NET "epb_addr<11>" IOSTANDARD = LVCMOS33 | LOC = AF23;
NET "epb_addr<12>" IOSTANDARD = LVCMOS33 | LOC = AH17;
NET "epb_addr<13>" IOSTANDARD = LVCMOS33 | LOC = AH15;
NET "epb_addr<14>" IOSTANDARD = LVCMOS33 | LOC = L20;
NET "epb_addr<15>" IOSTANDARD = LVCMOS33 | LOC = J22;
NET "epb_addr<16>" IOSTANDARD = LVCMOS33 | LOC = H22;
NET "epb_addr<17>" IOSTANDARD = LVCMOS33 | LOC = L15;
NET "epb_addr<18>" IOSTANDARD = LVCMOS33 | LOC = L16;
NET "epb_addr<19>" IOSTANDARD = LVCMOS33 | LOC = K22;
NET "epb_addr<20>" IOSTANDARD = LVCMOS33 | LOC = K21;
NET "epb_addr<21>" IOSTANDARD = LVCMOS33 | LOC = K16;
NET "epb_addr<22>" IOSTANDARD = LVCMOS33 | LOC = J15;

# EPB multi purpose pins
NET "epb_addr_gp<0>" IOSTANDARD = LVCMOS33 | LOC = L21; # DMA_REQ_2
NET "epb_addr_gp<1>" IOSTANDARD = LVCMOS33 | LOC = G22; # DMA_ACK_2
NET "epb_addr_gp<2>" IOSTANDARD = LVCMOS33 | LOC = K23; # EOT_TC_2
NET "epb_addr_gp<3>" IOSTANDARD = LVCMOS33 | LOC = K14; # DMA_REQ_3
NET "epb_addr_gp<4>" IOSTANDARD = LVCMOS33 | LOC = L14; # DMA_ACK_3
NET "epb_addr_gp<5>" IOSTANDARD = LVCMOS33 | LOC = J12; # EOT_TC_3

#NET "epb_cs_alt_n"   IOSTANDARD = LVCMOS33 | LOC = AG17;
NET "epb_cs_n"       IOSTANDARD = LVCMOS33 | LOC = K13;
NET "epb_be_n<1>"    IOSTANDARD = LVCMOS33 | LOC = AF18;
NET "epb_be_n<0>"    IOSTANDARD = LVCMOS33 | LOC = AF14;
NET "epb_r_w_n"      IOSTANDARD = LVCMOS33 | LOC = AF20;
NET "epb_oe_n"       IOSTANDARD = LVCMOS33 | LOC = AF21;
#NET "epb_blast_n"    IOSTANDARD = LVCMOS33 | LOC = H23;
NET "epb_rdy"        IOSTANDARD = LVCMOS33 | LOC = K12;

NET "epb_clk_in"    IOSTANDARD = LVCMOS33 | LOC = AH18;


NET "mgt_ref_clk_top_n"    LOC = C8;
NET "mgt_ref_clk_top_p"    LOC = D8;

NET "mgt_ref_clk_bottom_n" LOC = Y3;
NET "mgt_ref_clk_bottom_p" LOC = Y4;

NET "mgt_rx_top_1_n<1>"    LOC = A7;
NET "mgt_rx_top_1_p<1>"    LOC = A6;
NET "mgt_rx_top_1_n<0>"    LOC = A8;
NET "mgt_rx_top_1_p<0>"    LOC = A9;
NET "mgt_tx_top_1_n<1>"    LOC = B6;
NET "mgt_tx_top_1_p<1>"    LOC = B5;
NET "mgt_tx_top_1_n<0>"    LOC = B9;
NET "mgt_tx_top_1_p<0>"    LOC = B10;
NET "mgt_rx_top_1_n<3>"    LOC = C1;
NET "mgt_rx_top_1_p<3>"    LOC = D1;
NET "mgt_rx_top_1_n<2>"    LOC = A2;
NET "mgt_rx_top_1_p<2>"    LOC = A3;
NET "mgt_tx_top_1_n<3>"    LOC = D2;
NET "mgt_tx_top_1_p<3>"    LOC = E2;
NET "mgt_tx_top_1_n<2>"    LOC = B3;
NET "mgt_tx_top_1_p<2>"    LOC = B4;
NET "mgt_rx_top_0_n<1>"    LOC = J1;
NET "mgt_rx_top_0_p<1>"    LOC = K1;
NET "mgt_rx_top_0_n<0>"    LOC = H1;
NET "mgt_rx_top_0_p<0>"    LOC = G1;
NET "mgt_tx_top_0_n<1>"    LOC = K2;
NET "mgt_tx_top_0_p<1>"    LOC = L2;
NET "mgt_tx_top_0_n<0>"    LOC = G2;
NET "mgt_tx_top_0_p<0>"    LOC = F2;
NET "mgt_rx_top_0_n<3>"    LOC = R1;
NET "mgt_rx_top_0_p<3>"    LOC = T1;
NET "mgt_rx_top_0_n<2>"    LOC = P1;
NET "mgt_rx_top_0_p<2>"    LOC = N1;
NET "mgt_tx_top_0_n<3>"    LOC = T2;
NET "mgt_tx_top_0_p<3>"    LOC = U2;
NET "mgt_tx_top_0_n<2>"    LOC = N2;
NET "mgt_tx_top_0_p<2>"    LOC = M2;
NET "mgt_rx_bottom_1_n<1>" LOC = AA1;
NET "mgt_rx_bottom_1_p<1>" LOC = AB1;
NET "mgt_rx_bottom_1_n<0>" LOC = Y1;
NET "mgt_rx_bottom_1_p<0>" LOC = W1;
NET "mgt_tx_bottom_1_n<1>" LOC = AB2;
NET "mgt_tx_bottom_1_p<1>" LOC = AC2;
NET "mgt_tx_bottom_1_n<0>" LOC = W2;
NET "mgt_tx_bottom_1_p<0>" LOC = V2;
NET "mgt_rx_bottom_1_n<3>" LOC = AG1;
NET "mgt_rx_bottom_1_p<3>" LOC = AH1;
NET "mgt_rx_bottom_1_n<2>" LOC = AF1;
NET "mgt_rx_bottom_1_p<2>" LOC = AE1;
NET "mgt_tx_bottom_1_n<3>" LOC = AH2;
NET "mgt_tx_bottom_1_p<3>" LOC = AJ2;
NET "mgt_tx_bottom_1_n<2>" LOC = AE2;
NET "mgt_tx_bottom_1_p<2>" LOC = AD2;
NET "mgt_rx_bottom_0_n<1>" LOC = AP2;
NET "mgt_rx_bottom_0_p<1>" LOC = AP3;
NET "mgt_rx_bottom_0_n<0>" LOC = AM1;
NET "mgt_rx_bottom_0_p<0>" LOC = AL1;
NET "mgt_tx_bottom_0_n<1>" LOC = AN3;
NET "mgt_tx_bottom_0_p<1>" LOC = AN4;
NET "mgt_tx_bottom_0_n<0>" LOC = AL2;
NET "mgt_tx_bottom_0_p<0>" LOC = AK2;
NET "mgt_rx_bottom_0_n<3>" LOC = AP8;
NET "mgt_rx_bottom_0_p<3>" LOC = AP9;
NET "mgt_rx_bottom_0_n<2>" LOC = AP7;
NET "mgt_rx_bottom_0_p<2>" LOC = AP6;
NET "mgt_tx_bottom_0_n<3>" LOC = AN9;
NET "mgt_tx_bottom_0_p<3>" LOC = AN10;
NET "mgt_tx_bottom_0_n<2>" LOC = AN6;
NET "mgt_tx_bottom_0_p<2>" LOC = AN5;

NET adc0_adc3wire_clk       LOC = F28 ;
NET adc0_adc3wire_data      LOC = D32 ;
NET adc0_adc3wire_strobe    LOC = C32 ;
NET adc0_modepin            LOC = E28 ;

NET adc1_adc3wire_clk       LOC = AE32 ;
NET adc1_adc3wire_data      LOC = AD34 ;
NET adc1_adc3wire_strobe    LOC = AC34 ;
NET adc1_modepin            LOC = AD32 ;




NET "qdr0_d<0>"      IOSTANDARD = HSTL_I     | LOC = R11;
NET "qdr0_d<1>"      IOSTANDARD = HSTL_I     | LOC = T11;
NET "qdr0_d<2>"      IOSTANDARD = HSTL_I     | LOC = G7;
NET "qdr0_d<3>"      IOSTANDARD = HSTL_I     | LOC = E6;
NET "qdr0_d<4>"      IOSTANDARD = HSTL_I     | LOC = T10;
NET "qdr0_d<5>"      IOSTANDARD = HSTL_I     | LOC = T9;
NET "qdr0_d<6>"      IOSTANDARD = HSTL_I     | LOC = M7;
NET "qdr0_d<7>"      IOSTANDARD = HSTL_I     | LOC = R8;
NET "qdr0_d<8>"      IOSTANDARD = HSTL_I     | LOC = T8;
NET "qdr0_d<9>"      IOSTANDARD = HSTL_I     | LOC = U7;
NET "qdr0_d<10>"     IOSTANDARD = HSTL_I     | LOC = P6;
NET "qdr0_d<11>"     IOSTANDARD = HSTL_I     | LOC = R7;
NET "qdr0_d<12>"     IOSTANDARD = HSTL_I     | LOC = P7;
NET "qdr0_d<13>"     IOSTANDARD = HSTL_I     | LOC = N7;
NET "qdr0_d<14>"     IOSTANDARD = HSTL_I     | LOC = J6;
NET "qdr0_d<15>"     IOSTANDARD = HSTL_I     | LOC = N8;
NET "qdr0_d<16>"     IOSTANDARD = HSTL_I     | LOC = K7;
NET "qdr0_d<17>"     IOSTANDARD = HSTL_I     | LOC = E7;
NET "qdr0_q<0>"      IOSTANDARD = HSTL_I_DCI | LOC = E11;
NET "qdr0_q<1>"      IOSTANDARD = HSTL_I_DCI | LOC = G11;
NET "qdr0_q<2>"      IOSTANDARD = HSTL_I_DCI | LOC = F10;
NET "qdr0_q<3>"      IOSTANDARD = HSTL_I_DCI | LOC = G10;
NET "qdr0_q<4>"      IOSTANDARD = HSTL_I_DCI | LOC = H10;
NET "qdr0_q<5>"      IOSTANDARD = HSTL_I_DCI | LOC = H9;
NET "qdr0_q<6>"      IOSTANDARD = HSTL_I_DCI | LOC = F8;
NET "qdr0_q<7>"      IOSTANDARD = HSTL_I_DCI | LOC = M10;
NET "qdr0_q<8>"      IOSTANDARD = HSTL_I_DCI | LOC = H8;
NET "qdr0_q<9>"      IOSTANDARD = HSTL_I_DCI | LOC = M8;
NET "qdr0_q<10>"     IOSTANDARD = HSTL_I_DCI | LOC = N9;
NET "qdr0_q<11>"     IOSTANDARD = HSTL_I_DCI | LOC = L9;
NET "qdr0_q<12>"     IOSTANDARD = HSTL_I_DCI | LOC = N10;
NET "qdr0_q<13>"     IOSTANDARD = HSTL_I_DCI | LOC = G8;
NET "qdr0_q<14>"     IOSTANDARD = HSTL_I_DCI | LOC = E8;
NET "qdr0_q<15>"     IOSTANDARD = HSTL_I_DCI | LOC = F9;
NET "qdr0_q<16>"     IOSTANDARD = HSTL_I_DCI | LOC = K11;
NET "qdr0_q<17>"     IOSTANDARD = HSTL_I_DCI | LOC = J11;
NET "qdr0_sa<21>"    IOSTANDARD = HSTL_I     | LOC = G12;
NET "qdr0_sa<20>"    IOSTANDARD = HSTL_I     | LOC = P5;
NET "qdr0_sa<19>"    IOSTANDARD = HSTL_I     | LOC = M6;
NET "qdr0_sa<18>"    IOSTANDARD = HSTL_I     | LOC = A13;
NET "qdr0_sa<17>"    IOSTANDARD = HSTL_I     | LOC = C13;
NET "qdr0_sa<16>"    IOSTANDARD = HSTL_I     | LOC = B12;
NET "qdr0_sa<15>"    IOSTANDARD = HSTL_I     | LOC = F13;
NET "qdr0_sa<14>"    IOSTANDARD = HSTL_I     | LOC = G13;
NET "qdr0_sa<13>"    IOSTANDARD = HSTL_I     | LOC = E12;
NET "qdr0_sa<12>"    IOSTANDARD = HSTL_I     | LOC = B13;
NET "qdr0_sa<11>"    IOSTANDARD = HSTL_I     | LOC = E13;
NET "qdr0_sa<10>"    IOSTANDARD = HSTL_I     | LOC = C12;
NET "qdr0_sa<9>"     IOSTANDARD = HSTL_I     | LOC = D12;
NET "qdr0_sa<8>"     IOSTANDARD = HSTL_I     | LOC = F6;
NET "qdr0_sa<7>"     IOSTANDARD = HSTL_I     | LOC = G6;
NET "qdr0_sa<6>"     IOSTANDARD = HSTL_I     | LOC = D11;
NET "qdr0_sa<5>"     IOSTANDARD = HSTL_I     | LOC = U10;
NET "qdr0_sa<4>"     IOSTANDARD = HSTL_I     | LOC = R6;
NET "qdr0_sa<3>"     IOSTANDARD = HSTL_I     | LOC = K6;
NET "qdr0_sa<2>"     IOSTANDARD = HSTL_I     | LOC = L4;
NET "qdr0_sa<1>"     IOSTANDARD = HSTL_I     | LOC = N5;
NET "qdr0_sa<0>"     IOSTANDARD = HSTL_I     | LOC = T6;
NET "qdr0_w_n"       IOSTANDARD = HSTL_I     | LOC = M5;
NET "qdr0_r_n"       IOSTANDARD = HSTL_I     | LOC = J5;
NET "qdr0_dll_off_n" IOSTANDARD = HSTL_I     | LOC = E9;
NET "qdr0_bw_n<0>"   IOSTANDARD = HSTL_I     | LOC = F5;
NET "qdr0_bw_n<1>"   IOSTANDARD = HSTL_I     | LOC = L6;
NET "qdr0_cq"        IOSTANDARD = HSTL_I_DCI | LOC = K8;
NET "qdr0_cq_n"      IOSTANDARD = HSTL_I_DCI | LOC = K9;
NET "qdr0_k"         IOSTANDARD = HSTL_I     | LOC = H5;
NET "qdr0_k_n"       IOSTANDARD = HSTL_I     | LOC = G5;
NET "qdr0_qvld"      IOSTANDARD = HSTL_I     | LOC = F11;


NET "qdr1_d<0>"      IOSTANDARD = HSTL_I     | LOC = G21;
NET "qdr1_d<1>"      IOSTANDARD = HSTL_I     | LOC = F21;
NET "qdr1_d<2>"      IOSTANDARD = HSTL_I     | LOC = G20;
NET "qdr1_d<3>"      IOSTANDARD = HSTL_I     | LOC = F20;
NET "qdr1_d<4>"      IOSTANDARD = HSTL_I     | LOC = E19;
NET "qdr1_d<5>"      IOSTANDARD = HSTL_I     | LOC = F16;
NET "qdr1_d<6>"      IOSTANDARD = HSTL_I     | LOC = D17;
NET "qdr1_d<7>"      IOSTANDARD = HSTL_I     | LOC = C17;
NET "qdr1_d<8>"      IOSTANDARD = HSTL_I     | LOC = B17;
NET "qdr1_d<9>"      IOSTANDARD = HSTL_I     | LOC = A16;
NET "qdr1_d<10>"     IOSTANDARD = HSTL_I     | LOC = F18;
NET "qdr1_d<11>"     IOSTANDARD = HSTL_I     | LOC = D21;
NET "qdr1_d<12>"     IOSTANDARD = HSTL_I     | LOC = E21;
NET "qdr1_d<13>"     IOSTANDARD = HSTL_I     | LOC = D22;
NET "qdr1_d<14>"     IOSTANDARD = HSTL_I     | LOC = E22;
NET "qdr1_d<15>"     IOSTANDARD = HSTL_I     | LOC = E23;
NET "qdr1_d<16>"     IOSTANDARD = HSTL_I     | LOC = F23;
NET "qdr1_d<17>"     IOSTANDARD = HSTL_I     | LOC = F24;
NET "qdr1_q<0>"      IOSTANDARD = HSTL_I_DCI | LOC = A24;
NET "qdr1_q<1>"      IOSTANDARD = HSTL_I_DCI | LOC = B23;
NET "qdr1_q<2>"      IOSTANDARD = HSTL_I_DCI | LOC = B22;
NET "qdr1_q<3>"      IOSTANDARD = HSTL_I_DCI | LOC = B21;
NET "qdr1_q<4>"      IOSTANDARD = HSTL_I_DCI | LOC = A21;
NET "qdr1_q<5>"      IOSTANDARD = HSTL_I_DCI | LOC = A20;
NET "qdr1_q<6>"      IOSTANDARD = HSTL_I_DCI | LOC = C18;
NET "qdr1_q<7>"      IOSTANDARD = HSTL_I_DCI | LOC = A19;
NET "qdr1_q<8>"      IOSTANDARD = HSTL_I_DCI | LOC = B18;
NET "qdr1_q<9>"      IOSTANDARD = HSTL_I_DCI | LOC = C19;
NET "qdr1_q<10>"     IOSTANDARD = HSTL_I_DCI | LOC = B20;
NET "qdr1_q<11>"     IOSTANDARD = HSTL_I_DCI | LOC = C20;
NET "qdr1_q<12>"     IOSTANDARD = HSTL_I_DCI | LOC = A23;
NET "qdr1_q<13>"     IOSTANDARD = HSTL_I_DCI | LOC = C22;
NET "qdr1_q<14>"     IOSTANDARD = HSTL_I_DCI | LOC = C23;
NET "qdr1_q<15>"     IOSTANDARD = HSTL_I_DCI | LOC = B25;
NET "qdr1_q<16>"     IOSTANDARD = HSTL_I_DCI | LOC = C25;
NET "qdr1_q<17>"     IOSTANDARD = HSTL_I_DCI | LOC = D26;
NET "qdr1_sa<21>"    IOSTANDARD = HSTL_I     | LOC = D31;
NET "qdr1_sa<20>"    IOSTANDARD = HSTL_I     | LOC = F14;
NET "qdr1_sa<19>"    IOSTANDARD = HSTL_I     | LOC = A14;
NET "qdr1_sa<18>"    IOSTANDARD = HSTL_I     | LOC = D27;
NET "qdr1_sa<17>"    IOSTANDARD = HSTL_I     | LOC = A30;
NET "qdr1_sa<16>"    IOSTANDARD = HSTL_I     | LOC = B30;
NET "qdr1_sa<15>"    IOSTANDARD = HSTL_I     | LOC = C30;
NET "qdr1_sa<14>"    IOSTANDARD = HSTL_I     | LOC = B31;
NET "qdr1_sa<13>"    IOSTANDARD = HSTL_I     | LOC = D30;
NET "qdr1_sa<12>"    IOSTANDARD = HSTL_I     | LOC = B26;
NET "qdr1_sa<11>"    IOSTANDARD = HSTL_I     | LOC = A29;
NET "qdr1_sa<10>"    IOSTANDARD = HSTL_I     | LOC = D29;
NET "qdr1_sa<9>"     IOSTANDARD = HSTL_I     | LOC = A31;
NET "qdr1_sa<8>"     IOSTANDARD = HSTL_I     | LOC = G17;
NET "qdr1_sa<7>"     IOSTANDARD = HSTL_I     | LOC = C27;
NET "qdr1_sa<6>"     IOSTANDARD = HSTL_I     | LOC = C28;
NET "qdr1_sa<5>"     IOSTANDARD = HSTL_I     | LOC = E16;
NET "qdr1_sa<4>"     IOSTANDARD = HSTL_I     | LOC = E17;
NET "qdr1_sa<3>"     IOSTANDARD = HSTL_I     | LOC = A15;
NET "qdr1_sa<2>"     IOSTANDARD = HSTL_I     | LOC = B15;
NET "qdr1_sa<1>"     IOSTANDARD = HSTL_I     | LOC = C14;
NET "qdr1_sa<0>"     IOSTANDARD = HSTL_I     | LOC = B16;
NET "qdr1_w_n"       IOSTANDARD = HSTL_I     | LOC = F15;
NET "qdr1_r_n"       IOSTANDARD = HSTL_I     | LOC = C15;
NET "qdr1_dll_off_n" IOSTANDARD = HSTL_I     | LOC = D20;
NET "qdr1_bw_n<0>"   IOSTANDARD = HSTL_I     | LOC = D15;
NET "qdr1_bw_n<1>"   IOSTANDARD = HSTL_I     | LOC = D16;
NET "qdr1_cq"        IOSTANDARD = HSTL_I_DCI | LOC = C24;
NET "qdr1_cq_n"      IOSTANDARD = HSTL_I_DCI | LOC = D25;
NET "qdr1_k"         IOSTANDARD = HSTL_I     | LOC = D14;
NET "qdr1_k_n"       IOSTANDARD = HSTL_I     | LOC = E14;
NET "qdr1_qvld"      IOSTANDARD = HSTL_I     | LOC = A25;

##############################################
# IP UCF constraints                         #
##############################################

# kat_adc/XSG core config

# kat_adc/adc0
NET "adc0clk_p" LOC = H19 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.332 ns ;
NET "adc0clk_n" LOC = H20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.332 ns ;
NET "adc0sync_p" LOC = B33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0sync_n" LOC = C33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0outofrangei_p" LOC = C34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0outofrangei_n" LOC = D34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0outofrangeq_p" LOC = E26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0outofrangeq_n" LOC = E27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<0>" LOC = L29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<1>" LOC = J30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<2>" LOC = G30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<3>" LOC = E29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<4>" LOC = K31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<5>" LOC = J27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<6>" LOC = F33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_p<7>" LOC = F25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<0>" LOC = K29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<1>" LOC = J31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<2>" LOC = F30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<3>" LOC = F29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<4>" LOC = L31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<5>" LOC = J26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<6>" LOC = E34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataeveni_n<7>" LOC = F26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<0>" LOC = N27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<1>" LOC = L25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<2>" LOC = G33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<3>" LOC = H25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<4>" LOC = L30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<5>" LOC = H34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<6>" LOC = G32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_p<7>" LOC = E32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<0>" LOC = M27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<1>" LOC = L26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<2>" LOC = F34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<3>" LOC = H24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<4>" LOC = M30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<5>" LOC = J34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<6>" LOC = H32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddi_n<7>" LOC = E33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<0>" LOC = H28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<1>" LOC = K24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<2>" LOC = M25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<3>" LOC = M31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<4>" LOC = G27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<5>" LOC = H30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<6>" LOC = J32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_p<7>" LOC = L34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<0>" LOC = G28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<1>" LOC = L24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<2>" LOC = M26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<3>" LOC = N30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<4>" LOC = H27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<5>" LOC = G31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<6>" LOC = H33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataevenq_n<7>" LOC = K34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<0>" LOC = F31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<1>" LOC = H29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<2>" LOC = K28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<3>" LOC = M28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<4>" LOC = G25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<5>" LOC = J24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<6>" LOC = K27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_p<7>" LOC = K33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<0>" LOC = E31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<1>" LOC = J29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<2>" LOC = L28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<3>" LOC = N28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<4>" LOC = G26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<5>" LOC = J25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<6>" LOC = K26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0dataoddq_n<7>" LOC = K32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc0ddrb_p" LOC = B32 | IOSTANDARD = LVDS_25 ;
NET "adc0ddrb_n" LOC = A33 | IOSTANDARD = LVDS_25 ;

# kat_adc/adc1
NET "adc1clk_p" LOC = K17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.332 ns ;
NET "adc1clk_n" LOC = L18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.332 ns ;
NET "adc1sync_p" LOC = AD31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1sync_n" LOC = AE31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1outofrangei_p" LOC = AB27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1outofrangei_n" LOC = AC27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1outofrangeq_p" LOC = AC28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1outofrangeq_n" LOC = AD27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<0>" LOC = AL34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<1>" LOC = AG27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<2>" LOC = AG33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<3>" LOC = AD30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<4>" LOC = AK28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<5>" LOC = AF24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<6>" LOC = AG32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_p<7>" LOC = AF33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<0>" LOC = AL33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<1>" LOC = AG26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<2>" LOC = AH33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<3>" LOC = AC29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<4>" LOC = AK27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<5>" LOC = AG25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<6>" LOC = AH32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataeveni_n<7>" LOC = AE33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<0>" LOC = AJ25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<1>" LOC = AK34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<2>" LOC = AF29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<3>" LOC = AE29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<4>" LOC = AK26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<5>" LOC = AJ30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<6>" LOC = AG28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_p<7>" LOC = AF31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<0>" LOC = AH25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<1>" LOC = AK33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<2>" LOC = AF30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<3>" LOC = AD29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<4>" LOC = AJ27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<5>" LOC = AH30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<6>" LOC = AH28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddi_n<7>" LOC = AG31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<0>" LOC = AD26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<1>" LOC = AH34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<2>" LOC = AJ31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<3>" LOC = AN34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<4>" LOC = AE28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<5>" LOC = AF25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<6>" LOC = AH27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_p<7>" LOC = AN32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<0>" LOC = AD25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<1>" LOC = AJ34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<2>" LOC = AK31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<3>" LOC = AN33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<4>" LOC = AF28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<5>" LOC = AF26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<6>" LOC = AJ26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataevenq_n<7>" LOC = AP32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<0>" LOC = AF34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<1>" LOC = AE27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<2>" LOC = AJ32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<3>" LOC = AK29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<4>" LOC = AC25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<5>" LOC = AD24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<6>" LOC = AH29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_p<7>" LOC = AM33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<0>" LOC = AE34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<1>" LOC = AE26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<2>" LOC = AK32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<3>" LOC = AJ29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<4>" LOC = AC24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<5>" LOC = AE24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<6>" LOC = AG30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1dataoddq_n<7>" LOC = AM32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adc1ddrb_p" LOC = AB30 | IOSTANDARD = LVDS_25 ;
NET "adc1ddrb_n" LOC = AC30 | IOSTANDARD = LVDS_25 ;

# kat_adc/ctrl0

# kat_adc/ctrl1

# kat_adc/overflow_i1

# kat_adc/overflow_q1

# kat_adc/overrange_i0

# kat_adc/overrange_q0

# kat_adc/qdr0

# kat_adc/qdr1

# kat_adc/status0

# kat_adc/status1

# kat_adc/sync_count0

# kat_adc/sync_count1

# kat_adc/ten_gbe0

# kat_adc/ten_gbe1


