NET "adc0_iic_sda" LOC = K34 | SLEW = SLOW;
NET "adc0_iic_scl" LOC = M30 | SLEW = SLOW;
NET "adc1_iic_sda" LOC = AP32 | SLEW = SLOW;
NET "adc1_iic_scl" LOC = AJ27 | SLEW = SLOW;

NET "adc0_ser_clk" LOC = M31 | SLEW = SLOW;
NET "adc0_ser_dat" LOC = L34 | SLEW = SLOW;
NET "adc0_ser_cs" LOC = L30 | SLEW = SLOW;
NET "adc1_ser_clk" LOC = AN34 | SLEW = SLOW;
NET "adc1_ser_dat" LOC = AN32 | SLEW = SLOW;
NET "adc1_ser_cs" LOC = AK26 | SLEW = SLOW;

NET "adc0_powerdown" LOC = N27;
NET "adc0_rst" LOC = H29;
#NET "adc0_rst_n" LOC = J29;

NET "adc1_powerdown" LOC = AJ25;
NET "adc1_rst" LOC = AE27;
#NET "adc1_rst_n" LOC = AE26;

NET "adc0_sync_p" LOC = K31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_sync_n" LOC = L31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_clk_p" LOC = J20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_clk_n" LOC = J21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_overrange_p" LOC = H19 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_overrange_n" LOC = H20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<7>" LOC = K27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<7>" LOC = K26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<6>" LOC = L25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<6>" LOC = L26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<5>" LOC = H34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<5>" LOC = J34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<4>" LOC = M25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<4>" LOC = M26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<3>" LOC = J32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<3>" LOC = H33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<2>" LOC = L29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<2>" LOC = K29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<1>" LOC = M28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<1>" LOC = N28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<0>" LOC = K33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<0>" LOC = K32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<7>" LOC = J24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<7>" LOC = J25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<6>" LOC = G33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<6>" LOC = F34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<5>" LOC = G32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<5>" LOC = H32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<4>" LOC = K24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<4>" LOC = L24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<3>" LOC = H30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<3>" LOC = G31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<2>" LOC = J30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<2>" LOC = J31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<1>" LOC = J27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<1>" LOC = J26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<0>" LOC = K28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<0>" LOC = L28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<7>" LOC = F25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<7>" LOC = F26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<6>" LOC = E29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<6>" LOC = F29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<5>" LOC = E26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<5>" LOC = E27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<4>" LOC = E28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<4>" LOC = F28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<3>" LOC = B33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<3>" LOC = C33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<2>" LOC = C34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<2>" LOC = D34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<1>" LOC = B32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<1>" LOC = A33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<0>" LOC = C32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<0>" LOC = D32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<7>" LOC = F33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<7>" LOC = E34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<6>" LOC = G30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<6>" LOC = F30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<5>" LOC = G27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<5>" LOC = H27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<4>" LOC = H28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<4>" LOC = G28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<3>" LOC = E32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<3>" LOC = E33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<2>" LOC = H25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<2>" LOC = H24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<1>" LOC = G25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<1>" LOC = G26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<0>" LOC = F31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<0>" LOC = E31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;


NET "adc1_sync_p" LOC = AK28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_sync_n" LOC = AK27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_clk_p" LOC = H17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_clk_n" LOC = H18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_overrange_p" LOC = K17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_overrange_n" LOC = L18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_p<7>" LOC = AH29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_n<7>" LOC = AG30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_p<6>" LOC = AK34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_n<6>" LOC = AK33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_p<5>" LOC = AJ30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_n<5>" LOC = AH30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_p<4>" LOC = AJ31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_n<4>" LOC = AK31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_p<3>" LOC = AH27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_n<3>" LOC = AJ26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_p<2>" LOC = AL34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_n<2>" LOC = AL33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_p<1>" LOC = AK29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_n<1>" LOC = AJ29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_p<0>" LOC = AM33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_d_n<0>" LOC = AM32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_p<7>" LOC = AD24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_n<7>" LOC = AE24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_p<6>" LOC = AF29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_n<6>" LOC = AF30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_p<5>" LOC = AG28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_n<5>" LOC = AH28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_p<4>" LOC = AH34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_n<4>" LOC = AJ34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_p<3>" LOC = AF25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_n<3>" LOC = AF26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_p<2>" LOC = AG27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_n<2>" LOC = AG26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_p<1>" LOC = AF24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_n<1>" LOC = AG25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_p<0>" LOC = AJ32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_di_n<0>" LOC = AK32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_p<7>" LOC = AF33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_n<7>" LOC = AE33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_p<6>" LOC = AD30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_n<6>" LOC = AC29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_p<5>" LOC = AC28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_n<5>" LOC = AD27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_p<4>" LOC = AD32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_n<4>" LOC = AE32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_p<3>" LOC = AD31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_n<3>" LOC = AE31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_p<2>" LOC = AB27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_n<2>" LOC = AC27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_p<1>" LOC = AB30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_n<1>" LOC = AC30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_p<0>" LOC = AC34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_d_n<0>" LOC = AD34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_p<7>" LOC = AG32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_n<7>" LOC = AH32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_p<6>" LOC = AG33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_n<6>" LOC = AH33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_p<5>" LOC = AE28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_n<5>" LOC = AF28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_p<4>" LOC = AD26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_n<4>" LOC = AD25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_p<3>" LOC = AF31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_n<3>" LOC = AG31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_p<2>" LOC = AE29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_n<2>" LOC = AD29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_p<1>" LOC = AC25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_n<1>" LOC = AC24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_p<0>" LOC = AF34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc1_dq_n<0>" LOC = AE34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
