NET "adc0_clk_p" LOC = H19 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.0 ns;
NET "adc0_clk_n" LOC = H20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.0 ns;
NET "adc0_sync_p" LOC = B33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_sync_n" LOC = C33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_powerdown" LOC = C32;
NET "adc0_overrange_p" LOC = J20 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_overrange_n" LOC = J21 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_rst" LOC = B32;
NET "adc0_di_d_p<7>" LOC = H28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<7>" LOC = G28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<6>" LOC = G27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<6>" LOC = H27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<5>" LOC = H25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<5>" LOC = H24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<4>" LOC = E32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<4>" LOC = E33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<3>" LOC = F31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<3>" LOC = E31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<2>" LOC = G25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<2>" LOC = G26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<1>" LOC = E29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<1>" LOC = F29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_p<0>" LOC = F25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_d_n<0>" LOC = F26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<7>" LOC = K24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<7>" LOC = L24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<6>" LOC = H30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<6>" LOC = G31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<5>" LOC = G33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<5>" LOC = F34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<4>" LOC = G32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<4>" LOC = H32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<3>" LOC = H29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<3>" LOC = J29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<2>" LOC = J24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<2>" LOC = J25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<1>" LOC = G30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_n<1>" LOC = F30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_di_p<0>" LOC = F33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<0>" LOC = E34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<7>" LOC = K31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<7>" LOC = L31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<6>" LOC = L29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<6>" LOC = K29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<5>" LOC = K33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<5>" LOC = K32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<4>" LOC = M28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<4>" LOC = N28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<3>" LOC = L30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<3>" LOC = M30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<2>" LOC = N27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<2>" LOC = M27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<1>" LOC = L34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<1>" LOC = K34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_p<0>" LOC = M31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_d_n<0>" LOC = N30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<7>" LOC = J27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<7>" LOC = J26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<6>" LOC = J30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<6>" LOC = J31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<5>" LOC = K27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<5>" LOC = K26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<4>" LOC = K28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<4>" LOC = L28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<3>" LOC = H34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<3>" LOC = J34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<2>" LOC = L25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<2>" LOC = L26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<1>" LOC = J32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<1>" LOC = H33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_p<0>" LOC = M25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "adc0_dq_n<0>" LOC = M26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
